@import "bourbon";
@import "neat";

$default-dark-colour: #d6cac7;
$wrapper-background: #fff;
$body-background: #731405;
$color-pop: #bc2626;
$default-margin: 20px;
$mobile-size: em(480);
$tablet-size: em(720);
$desktop-size: em(960);
$largedesktop-size: em(1050);

$mobile: new-breakpoint(max-width $mobile-size 12);
$tablet: new-breakpoint(min-width $mobile-size max-width $tablet-size 12);
$desktop: new-breakpoint(min-width $tablet-size max-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 12);

@mixin horizontal-list($list-margin: 0 8px 0 0, $margin-btm-ul: 0) {
  display: inline-block;
  margin: 0;
  margin-bottom: $margin-btm-ul;
  padding: 0;
  position: relative;
  li {
    display: inline-block;
    margin: $list-margin;
    padding: 0;
    position: relative;
    &:last-of-type {margin-right: 0;}
    a {
      display: inline-block;
      font-family: 'Roboto Slab', serif;
      letter-spacing: 2pt;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

@mixin border-img-link {
  a > img{
    border: 1px solid $default-dark-colour;
    box-shadow: 0 1px 10px #e2e2e2;
    display: block;
    padding: 4px;
    width: 100%;
  }
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@include font-face("open-sans", "/fonts/OpenSans-Regular", $file-formats: ttf);

p, h4, li {
  font-family: 'open-sans';
}

h1 {
  background: #e2e2e2;
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  letter-spacing: 2pt;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
}

.header-title {
  @include outer-container(90%);
  border: 1px solid $default-dark-colour;
  margin: 20px auto;
  padding: 3px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

header {
  $header-background: #1F1A16;
  $border-color: transparentize($header-background, 0.93);

  @include clearfix;
  border-top: 5px solid #1F1A16;

  #top-nav-container {
    padding-top: 10px;
    padding-bottom: 10px;

    ul {
      @include horizontal-list;
      float: right;
    }

    img {
      width: 16px;
    }
  }

  #nav-container {
    @include clearfix;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo {
    float: left;

    img {
      width: 100%;
    }
  }

  nav {
    @include direction-context(right-to-left) {

      .navigation-menu {
        @include horizontal-list;
        padding: 15px 0;
        float: right;

        li {
          margin-right: 50px;

          @include media($mobile) {
            @include fill-parent;
          }

          @include media($tablet) {
            @include fill-parent;
          }
        }

        a {
          color: #191919;
          font-size: em(14);
          position: relative;

          &:before {    
            @include transition(all 0.3s ease-in-out 0s);
            @include transform(scaleX(0));
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            top: -28px;
            left: 0;
            background-color: $color-pop;
            visibility: hidden;
          }

          &:hover:before {
            @include transform(scaleX(1));
            visibility: visible;
          }
        }
      }
    }
  }

  .navigation-menu-button {
    @include media($tablet-size) {
      display: none;
    }
  }
}

body {
  @include background-image(url('../images/hbg.jpg'));
	margin: 0;
}

figure {margin: 0;}

.wrapper {
  @include outer-container(em(800));
  background: $wrapper-background;

  @include media($desktop-size) {
    @include outer-container(em(900));
  }

  @include media($largedesktop-size) {
    @include outer-container(em(1050));
  }
}

.container {
  @include fill-parent;
  padding: 35px 25px 0;
}

#base {
  #highlight {
    margin-bottom: $default-margin;
  }
  #brief {
    @include span-columns(9);
    @include shift(1.5);
    text-align: center;
  }
  ul.browse-category {
    @include horizontal-list;
    margin-top: $default-margin;
    
    li {
      @include span-columns(4);
      @include border-img-link;
      text-align: center;

      @include media ($mobile) {
        @include fill-parent;
      }
    }
  }
}

#gallery {
  nav {
    text-align: center;

    ul {
      @include fill-parent;
      @include horizontal-list(0 20px 0 0, 20px);
      border: 1px solid darken($default-dark-colour, 10);
      padding: 2px;

      li {
        @include span-columns(36 of 144);
        border: 1px solid darken($default-dark-colour, 10);
        padding: 7px 0;

        a {
          color: #000;
          font-size: em(12);
        }

        &:hover, &.is-active {
          @include transition(all .5s ease);
          background: darken($default-dark-colour, 10);

          a {
            color: #fff;
            font-style: italic;
          }
        }
      }
    }
  }

  #gallery-section {
    @include clearfix;
    list-style-type: none;
    padding-left: 0;

    li:not(.is-open) {
      display: none;
    }

    figure {
      @include span-columns(4);
      @include omega(3n);
      @include border-img-link;
      display: inline-block;
      margin-bottom: 20px;

      @include media ($mobile) {
        @include fill-parent;
      }

      @include media ($tablet) {
        @include span-columns(6);
        @include omega-reset(3n);
        @include omega(2n);
      }
    }
  }
}

#contact {
  $v-padding-form: 7px 10px;

  .row {
    @include row;
    margin-top: 30px;
  }

  form{
    @include span-columns(7 of 12);

    input[type="text"], input[type="email"], textarea {
      @include span-columns(15 of 20);
      @include omega(2n);
    }

    .label-wrapper {
      @include span-columns(5 of 20);
      @include background-image(url("../images/arrow.png"));
      background-position: right center;
      background-repeat: no-repeat;

      label {
        @include span-columns(11 of 12);
      }
    }

    .btn-wrapper {
      @include fill-parent;
      text-align: right;
    }
  } 

  #info {
    @include span-columns(5 of 12);
    background: #e2e2e2;
    padding: 15px;
  }

  label {
    background-color: $default-dark-colour;
    border: 3px solid darken($default-dark-colour, 2);
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: em(12);
    font-style: italic;
    letter-spacing: 2pt;
    padding: $v-padding-form;
    text-transform: uppercase;
  }

  input[type="text"], input[type="email"], textarea {
    @include fill-parent;
    border: 2px solid #e3e3e3;
    font-family: 'Roboto Slab', serif;
    font-size: em(14);
    margin-bottom: 20px;
    padding: $v-padding-form;
  }

  textarea {
    height: 200px;
  }

  #map {
    width: 100%;
    height: 400px;
    background-color: #CCC;
  }

}

.modal{

  $base-border-radius: 3px !default;
  $modal-padding: 3em;
  $modal-background: rgba(#000, .9);
  $modal-close-color: #ddd;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  .modal-fade-screen {
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0);
    background-color: rgba(#000, .9);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    @include media($tablet-size) {
      padding-top: 10em;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    background: $modal-background;
    border-radius: $base-border-radius;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    width: 95%;

    @include media($mobile) {
      max-height: 70%;
      padding: $modal-padding;
      width: 60%;
    }

    @include media($largedesktop) {
      width: 50%;
    }
  } 
}

footer {
  margin-top: $default-margin;
  padding-bottom: $default-margin;
}
