html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype"); }

p, h4, li, span {
  font-family: 'Helvetica', serif;
  line-height: 1.5; }

p, span {
  font-size: 0.875em; }

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  letter-spacing: 2pt;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase; }

h1.main-title {
  -moz-box-shadow: inset 0px 54px 40px -55px #bbb, inset 0px -54px 40px -55px #bbb;
  box-shadow: inset 0px 54px 40px -55px #bbb, inset 0px -54px 40px -55px #bbb;
  -webkit-box-shadow: inset 0px 54px 40px -55px #bbb, inset 0px -54px 40px -55px #bbb;
  background: url("../images/top-bg.jpg");
  color: #000; }

h4 {
  margin: 0;
  text-transform: uppercase; }

input[type="text"], input[type="email"], textarea {
  width: 100%;
  border: 2px solid #e3e3e3;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875em;
  margin-bottom: 10px;
  padding: 7px 10px; }

input[type="submit"] {
  background: -webkit-linear-gradient(#a49b51, #7c753d);
  background: linear-gradient(#a49b51, #7c753d);
  border: 0;
  border-radius: 7px;
  box-shadow: 0px 4px 7px #ababab;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875em;
  letter-spacing: 1pt;
  padding: 10px 30px;
  text-transform: uppercase; }
  input[type="submit"]:hover {
    background: #7c753d;
    cursor: pointer; }

header {
  border-top: 5px solid #6e6836; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header #top-nav-container {
    font-size: 0.75em;
    padding-bottom: 10px;
    padding-top: 10px; }
    header #top-nav-container::after {
      clear: both;
      content: "";
      display: table; }
    header #top-nav-container span {
      display: none; }
    header #top-nav-container ul {
      display: inline-block;
      margin: 0;
      margin-bottom: 0;
      padding: 0;
      position: relative;
      float: right; }
      header #top-nav-container ul li {
        display: inline-block;
        margin: 0 8px 0 0;
        padding: 0;
        position: relative; }
        header #top-nav-container ul li:last-of-type {
          margin-right: 0; }
        header #top-nav-container ul li:hover {
          cursor: pointer; }
        header #top-nav-container ul li a {
          display: inline-block;
          font-family: 'Roboto Slab', serif;
          letter-spacing: 2pt;
          text-decoration: none;
          text-transform: uppercase; }
      header #top-nav-container ul li.search-icon {
        display: none; }
    header #top-nav-container img {
      width: 16px; }
    header #top-nav-container input[type="text"] {
      background: url(../images/search.png) no-repeat scroll 97% center;
      background-size: 14px;
      font-size: 0.75em;
      margin-bottom: 0;
      padding: 2px 5px; }
    @media screen and (min-width: 45em) {
      header #top-nav-container {
        font-size: 1em; }
        header #top-nav-container ul > li.search-icon, header #top-nav-container span {
          display: inline-block; } }
  header #nav-container {
    border-bottom: 2px solid rgba(40, 40, 40, 0.07);
    border-top: 2px solid rgba(40, 40, 40, 0.07);
    padding-bottom: 10px;
    padding-top: 10px; }
    header #nav-container::after {
      clear: both;
      content: "";
      display: table; }
    header #nav-container .logo {
      float: left;
      width: 230px; }
      header #nav-container .logo img {
        width: 100%; }
    @media screen and (min-width: 45em) {
      header #nav-container .logo {
        float: left;
        display: block;
        width: 29.85432%; }
        header #nav-container .logo:last-child {
          width: 27.49666%; }
      header #nav-container nav {
        float: left;
        display: block;
        width: 72.50334%; }
        header #nav-container nav:last-child {
          width: 70.14568%; }
        header #nav-container nav li:not(:nth-last-child(-n+2)) {
          margin-right: 30px; } }
    @media screen and (min-width: 60em) {
      header #nav-container .logo {
        float: left;
        display: block;
        width: 25.58941%; }
        header #nav-container .logo:last-child {
          width: 23.23176%; }
      header #nav-container nav {
        float: left;
        display: block;
        width: 76.76824%; }
        header #nav-container nav:last-child {
          width: 74.41059%; }
        header #nav-container nav li:not(:nth-last-child(-n+2)) {
          margin-right: 50px; } }
  header nav .navigation-menu {
    display: inline-block;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    width: 100%;
    display: none;
    float: right; }
    header nav .navigation-menu li {
      display: inline-block;
      margin: 0 8px 0 0;
      padding: 0;
      position: relative; }
      header nav .navigation-menu li:last-of-type {
        margin-right: 0; }
      header nav .navigation-menu li:hover {
        cursor: pointer; }
      header nav .navigation-menu li a {
        display: inline-block;
        font-family: 'Roboto Slab', serif;
        letter-spacing: 2pt;
        text-decoration: none;
        text-transform: uppercase; }
    header nav .navigation-menu li {
      border-bottom: 1px solid #d6cac7;
      display: block;
      margin-right: 0;
      padding: 10px 0;
      text-align: center; }
      header nav .navigation-menu li:last-child {
        border-bottom: 0; }
      header nav .navigation-menu li:nth-last-child(-n+2) {
        margin-right: 0; }
    header nav .navigation-menu a {
      color: #191919;
      font-size: 0.875em; }
    @media screen and (min-width: 45em) {
      header nav .navigation-menu {
        display: block;
        padding: 15px 0;
        width: auto; }
        header nav .navigation-menu li {
          border-bottom: 0;
          display: inline-block;
          padding: 0;
          text-align: left; }
        header nav .navigation-menu a {
          position: relative; }
          header nav .navigation-menu a:before {
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            background-color: #938b49;
            content: '';
            height: 3px;
            left: 0;
            position: absolute;
            top: -28px;
            visibility: hidden;
            width: 100%; }
          header nav .navigation-menu a:hover:before {
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1);
            visibility: visible; } }
  header nav input[type="text"] {
    background: url(../images/search.png) no-repeat scroll 97% center;
    background-size: 14px;
    margin-bottom: 0;
    width: 70%; }
  header .navigation-menu-button {
    float: right;
    padding-left: 1.25em;
    position: relative; }
    header .navigation-menu-button:before {
      background: #5e5e5e;
      box-shadow: 0 0.45em 0 0 #5e5e5e, 0 0.9em 0 0 #5e5e5e;
      content: '';
      height: 0.2em;
      left: 0;
      position: absolute;
      top: 1em;
      width: 1.5em; }
  @media screen and (min-width: 45em) {
    header .hide-non-mobile {
      display: none !important; } }

body {
  background-image: -webkit-radial-gradient(transparent, #47291f), url("../images/abg.jpg");
  background-image: radial-gradient(transparent, #47291f), url("../images/abg.jpg");
  margin: 0; }

figure {
  margin: 0; }

.wrapper {
  max-width: 93%;
  margin-left: auto;
  margin-right: auto;
  background: #f1f1f1;
  min-height: 100vh; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 45em) {
    .wrapper {
      max-width: 93%;
      margin-left: auto;
      margin-right: auto; }
      .wrapper::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (min-width: 65.625em) {
    .wrapper {
      max-width: 65.625em;
      margin-left: auto;
      margin-right: auto; }
      .wrapper::after {
        clear: both;
        content: "";
        display: table; } }

.container {
  width: 100%;
  padding: 15px 12px 0; }
  @media screen and (min-width: 30em) {
    .container {
      padding: 15px 18px 0; } }
  @media screen and (min-width: 45em) {
    .container {
      padding: 15px 25px 0; } }

#base #highlight {
  margin-bottom: 20px; }

#base #brief {
  width: 100%;
  text-align: center; }

#base ul.browse-category {
  display: inline-block;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  margin-top: 20px; }
  #base ul.browse-category li {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0;
    position: relative; }
    #base ul.browse-category li:last-of-type {
      margin-right: 0; }
    #base ul.browse-category li:hover {
      cursor: pointer; }
    #base ul.browse-category li a {
      display: inline-block;
      font-family: 'Roboto Slab', serif;
      letter-spacing: 2pt;
      text-decoration: none;
      text-transform: uppercase; }
  #base ul.browse-category li {
    width: 100%;
    text-align: center; }
    #base ul.browse-category li img {
      border: 1px solid #dadada;
      box-shadow: 0 1px 10px #dddddd;
      display: block;
      padding: 4px;
      width: 100%; }
    @media screen and (min-width: 30em) {
      #base ul.browse-category li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        #base ul.browse-category li:last-child {
          margin-right: 0; } }

@media screen and (min-width: 60em) {
  #base #brief {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-left: 12.79471%; }
    #base #brief:last-child {
      margin-right: 0; } }

#gallery nav {
  text-align: center; }
  #gallery nav ul {
    width: 100%;
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    border: 1px solid #6e6836;
    padding: 2px; }
    #gallery nav ul li {
      display: inline-block;
      margin: 0 20px 0 0;
      padding: 0;
      position: relative; }
      #gallery nav ul li:last-of-type {
        margin-right: 0; }
      #gallery nav ul li:hover {
        cursor: pointer; }
      #gallery nav ul li a {
        display: inline-block;
        font-family: 'Roboto Slab', serif;
        letter-spacing: 2pt;
        text-decoration: none;
        text-transform: uppercase; }
    #gallery nav ul li {
      width: 100%;
      border: 1px solid #6e6836;
      margin-bottom: 2px;
      padding: 7px 0; }
      #gallery nav ul li:last-child {
        margin-bottom: 0; }
      #gallery nav ul li:hover, #gallery nav ul li.is-active {
        background: #6e6836; }
        #gallery nav ul li:hover a, #gallery nav ul li.is-active a {
          color: #fff;
          font-style: italic; }
      @media screen and (min-width: 30em) {
        #gallery nav ul li {
          float: left;
          display: block;
          margin-right: 0.19231%;
          width: 24.85576%;
          margin-bottom: 0; }
          #gallery nav ul li:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 60em) {
        #gallery nav ul li:hover, #gallery nav ul li.is-active {
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          transition: all 0.5s ease; } }
    #gallery nav ul a {
      color: #000;
      font-size: 0.75em; }

#gallery #gallery-section {
  list-style-type: none;
  padding-left: 0; }
  #gallery #gallery-section::after {
    clear: both;
    content: "";
    display: table; }
  #gallery #gallery-section li:not(.is-open) {
    display: none; }
  #gallery #gallery-section li:hover {
    cursor: pointer; }
  #gallery #gallery-section .img-overlay-hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: url(../images/zoom.png), -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background: url(../images/zoom.png), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    margin: 4px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0; }
    #gallery #gallery-section .img-overlay-hover a.see-more {
      color: #fff;
      font-size: 2em;
      width: 64px; }
  #gallery #gallery-section figure {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    position: relative; }
    #gallery #gallery-section figure img {
      border: 1px solid #dadada;
      box-shadow: 0 1px 10px #dddddd;
      display: block;
      padding: 4px;
      width: 100%; }
    #gallery #gallery-section figure:hover .img-overlay-hover {
      opacity: 1; }
    @media screen and (min-width: 30em) {
      #gallery #gallery-section figure {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        #gallery #gallery-section figure:last-child {
          margin-right: 0; }
        #gallery #gallery-section figure:nth-child(2n) {
          margin-right: 0; }
        #gallery #gallery-section figure:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 45em) {
      #gallery #gallery-section figure {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        #gallery #gallery-section figure:last-child {
          margin-right: 0; }
        #gallery #gallery-section figure:nth-child(2n) {
          margin-right: 2.35765%; }
        #gallery #gallery-section figure:nth-child(2n+1) {
          clear: none; }
        #gallery #gallery-section figure:nth-child(3n) {
          margin-right: 0; }
        #gallery #gallery-section figure:nth-child(3n+1) {
          clear: left; } }

#contact .row {
  display: block;
  margin-top: 30px; }
  #contact .row::after {
    clear: both;
    content: "";
    display: table; }

#contact form {
  width: 100%; }
  #contact form input[type="text"], #contact form input[type="email"], #contact form textarea {
    width: 100%; }
  #contact form .label-wrapper {
    background-image: url("../images/arrow.png");
    background-image: url("../images/arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    display: none; }
  #contact form .btn-wrapper {
    width: 100%;
    text-align: right; }

#contact #info {
  width: 100%;
  background: url(../images/top-bg.jpg);
  background: url(../images/top-bg.jpg);
  border-top: 7px solid #6e6836;
  margin-bottom: 20px;
  padding: 15px; }

#contact label {
  background-color: #908847;
  border: 2px solid #898244;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.75em;
  font-style: italic;
  letter-spacing: 2pt;
  padding: 7px 10px;
  text-transform: uppercase; }

#contact textarea {
  height: 200px; }

#contact #map {
  width: 100%;
  height: 400px;
  background-color: #CCC; }

@media screen and (min-width: 45em) {
  #contact form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    #contact form:last-child {
      margin-right: 0; }
  #contact #info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    #contact #info:last-child {
      margin-right: 0; } }

@media screen and (min-width: 60em) {
  #contact form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 61.61588%; }
    #contact form:last-child {
      margin-right: 0; }
    #contact form input[type="text"], #contact form input[type="email"], #contact form textarea {
      float: left;
      display: block;
      margin-right: 1.40138%;
      width: 74.64966%;
      font-size: 0.875em;
      margin-bottom: 20px; }
      #contact form input[type="text"]:last-child, #contact form input[type="email"]:last-child, #contact form textarea:last-child {
        margin-right: 0; }
      #contact form input[type="text"]:nth-child(2n), #contact form input[type="email"]:nth-child(2n), #contact form textarea:nth-child(2n) {
        margin-right: 0; }
      #contact form input[type="text"]:nth-child(2n+1), #contact form input[type="email"]:nth-child(2n+1), #contact form textarea:nth-child(2n+1) {
        clear: left; }
    #contact form .label-wrapper {
      float: left;
      display: block;
      margin-right: 1.40138%;
      width: 23.94897%; }
      #contact form .label-wrapper:last-child {
        margin-right: 0; }
      #contact form .label-wrapper label {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%; }
        #contact form .label-wrapper label:last-child {
          margin-right: 0; }
  #contact #info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 36.02647%; }
    #contact #info:last-child {
      margin-right: 0; } }

.modal .modal-fade-screen {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999; }

.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer; }
  .modal .modal-close:after, .modal .modal-close:before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.5em;
    width: 0.15em;
    background: #ddd;
    content: '';
    display: block;
    margin: -3px 0 0 -1px; }
  .modal .modal-close:hover:after, .modal .modal-close:hover:before {
    background: #c4c4c4; }
  .modal .modal-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  width: 95%; }
  @media screen and (min-width: 30em) {
    .modal .modal-inner {
      max-height: 70%;
      padding: 3em;
      width: 60%; } }
  @media screen and (min-width: 65.625em) {
    .modal .modal-inner {
      width: 50%; } }

footer {
  margin-top: 20px;
  padding-bottom: 20px; }
