html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype"); }

p, h4, li {
  font-family: 'open-sans'; }

h1 {
  background: #e2e2e2;
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  letter-spacing: 2pt;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase; }

.header-title {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #d6cac7;
  margin: 20px auto;
  padding: 3px; }
  .header-title::after {
    clear: both;
    content: "";
    display: table; }

h4 {
  margin: 0;
  text-transform: uppercase; }

header {
  border-top: 5px solid #1F1A16; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header #top-nav-container {
    padding-top: 10px;
    padding-bottom: 10px; }
    header #top-nav-container ul {
      display: inline-block;
      margin: 0;
      margin-bottom: 0;
      padding: 0;
      position: relative;
      float: right; }
      header #top-nav-container ul li {
        display: inline-block;
        margin: 0 8px 0 0;
        padding: 0;
        position: relative; }
        header #top-nav-container ul li:last-of-type {
          margin-right: 0; }
        header #top-nav-container ul li a {
          display: inline-block;
          font-family: 'Roboto Slab', serif;
          letter-spacing: 2pt;
          text-decoration: none;
          text-transform: uppercase; }
    header #top-nav-container img {
      width: 16px; }
  header #nav-container {
    border-top: 2px solid rgba(31, 26, 22, 0.07);
    border-bottom: 2px solid rgba(31, 26, 22, 0.07);
    padding-top: 10px;
    padding-bottom: 10px; }
    header #nav-container::after {
      clear: both;
      content: "";
      display: table; }
  header .logo {
    float: left; }
    header .logo img {
      width: 100%; }
  header nav .navigation-menu {
    display: inline-block;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    padding: 15px 0;
    float: right; }
    header nav .navigation-menu li {
      display: inline-block;
      margin: 0 8px 0 0;
      padding: 0;
      position: relative; }
      header nav .navigation-menu li:last-of-type {
        margin-right: 0; }
      header nav .navigation-menu li a {
        display: inline-block;
        font-family: 'Roboto Slab', serif;
        letter-spacing: 2pt;
        text-decoration: none;
        text-transform: uppercase; }
    header nav .navigation-menu li {
      margin-right: 50px; }
      @media screen and (max-width: 30em) {
        header nav .navigation-menu li {
          width: 100%; } }
      @media screen and (min-width: 30em) and (max-width: 45em) {
        header nav .navigation-menu li {
          width: 100%; } }
    header nav .navigation-menu a {
      color: #191919;
      font-size: 0.875em;
      position: relative; }
      header nav .navigation-menu a:before {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: -28px;
        left: 0;
        background-color: #bc2626;
        visibility: hidden; }
      header nav .navigation-menu a:hover:before {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
        visibility: visible; }
  @media screen and (min-width: 45em) {
    header .navigation-menu-button {
      display: none; } }

body {
  background-image: url("../images/hbg.jpg");
  background-image: url("../images/hbg.jpg");
  margin: 0; }

figure {
  margin: 0; }

.wrapper {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  background: #fff; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 60em) {
    .wrapper {
      max-width: 56.25em;
      margin-left: auto;
      margin-right: auto; }
      .wrapper::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (min-width: 65.625em) {
    .wrapper {
      max-width: 65.625em;
      margin-left: auto;
      margin-right: auto; }
      .wrapper::after {
        clear: both;
        content: "";
        display: table; } }

.container {
  width: 100%;
  padding: 35px 25px 0; }

#base #highlight {
  margin-bottom: 20px; }

#base #brief {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 12.79471%;
  text-align: center; }
  #base #brief:last-child {
    margin-right: 0; }

#base ul.browse-category {
  display: inline-block;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  margin-top: 20px; }
  #base ul.browse-category li {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0;
    position: relative; }
    #base ul.browse-category li:last-of-type {
      margin-right: 0; }
    #base ul.browse-category li a {
      display: inline-block;
      font-family: 'Roboto Slab', serif;
      letter-spacing: 2pt;
      text-decoration: none;
      text-transform: uppercase; }
  #base ul.browse-category li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center; }
    #base ul.browse-category li:last-child {
      margin-right: 0; }
    #base ul.browse-category li a > img {
      border: 1px solid #d6cac7;
      box-shadow: 0 1px 10px #e2e2e2;
      display: block;
      padding: 4px;
      width: 100%; }
    @media screen and (max-width: 30em) {
      #base ul.browse-category li {
        width: 100%; } }

#gallery nav {
  text-align: center; }
  #gallery nav ul {
    width: 100%;
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    border: 1px solid #c0aeaa;
    padding: 2px; }
    #gallery nav ul li {
      display: inline-block;
      margin: 0 20px 0 0;
      padding: 0;
      position: relative; }
      #gallery nav ul li:last-of-type {
        margin-right: 0; }
      #gallery nav ul li a {
        display: inline-block;
        font-family: 'Roboto Slab', serif;
        letter-spacing: 2pt;
        text-decoration: none;
        text-transform: uppercase; }
    #gallery nav ul li {
      float: left;
      display: block;
      margin-right: 0.19231%;
      width: 24.85576%;
      border: 1px solid #c0aeaa;
      padding: 7px 0; }
      #gallery nav ul li:last-child {
        margin-right: 0; }
      #gallery nav ul li a {
        color: #000;
        font-size: 0.75em; }
      #gallery nav ul li:hover, #gallery nav ul li.is-active {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: #c0aeaa; }
        #gallery nav ul li:hover a, #gallery nav ul li.is-active a {
          color: #fff;
          font-style: italic; }

#gallery #gallery-section {
  list-style-type: none;
  padding-left: 0; }
  #gallery #gallery-section::after {
    clear: both;
    content: "";
    display: table; }
  #gallery #gallery-section li:not(.is-open) {
    display: none; }
  #gallery #gallery-section figure {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    display: inline-block;
    margin-bottom: 20px; }
    #gallery #gallery-section figure:last-child {
      margin-right: 0; }
    #gallery #gallery-section figure:nth-child(3n) {
      margin-right: 0; }
    #gallery #gallery-section figure:nth-child(3n+1) {
      clear: left; }
    #gallery #gallery-section figure a > img {
      border: 1px solid #d6cac7;
      box-shadow: 0 1px 10px #e2e2e2;
      display: block;
      padding: 4px;
      width: 100%; }
    @media screen and (max-width: 30em) {
      #gallery #gallery-section figure {
        width: 100%; } }
    @media screen and (min-width: 30em) and (max-width: 45em) {
      #gallery #gallery-section figure {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        #gallery #gallery-section figure:last-child {
          margin-right: 0; }
        #gallery #gallery-section figure:nth-child(3n) {
          margin-right: 2.35765%; }
        #gallery #gallery-section figure:nth-child(3n+1) {
          clear: none; }
        #gallery #gallery-section figure:nth-child(2n) {
          margin-right: 0; }
        #gallery #gallery-section figure:nth-child(2n+1) {
          clear: left; } }

#contact .row {
  display: block;
  margin-top: 30px; }
  #contact .row::after {
    clear: both;
    content: "";
    display: table; }

#contact form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  #contact form:last-child {
    margin-right: 0; }
  #contact form input[type="text"], #contact form input[type="email"], #contact form textarea {
    float: left;
    display: block;
    margin-right: 1.40138%;
    width: 74.64966%; }
    #contact form input[type="text"]:last-child, #contact form input[type="email"]:last-child, #contact form textarea:last-child {
      margin-right: 0; }
    #contact form input[type="text"]:nth-child(2n), #contact form input[type="email"]:nth-child(2n), #contact form textarea:nth-child(2n) {
      margin-right: 0; }
    #contact form input[type="text"]:nth-child(2n+1), #contact form input[type="email"]:nth-child(2n+1), #contact form textarea:nth-child(2n+1) {
      clear: left; }
  #contact form .label-wrapper {
    float: left;
    display: block;
    margin-right: 1.40138%;
    width: 23.94897%;
    background-image: url("../images/arrow.png");
    background-image: url("../images/arrow.png");
    background-position: right center;
    background-repeat: no-repeat; }
    #contact form .label-wrapper:last-child {
      margin-right: 0; }
    #contact form .label-wrapper label {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%; }
      #contact form .label-wrapper label:last-child {
        margin-right: 0; }
  #contact form .btn-wrapper {
    width: 100%;
    text-align: right; }

#contact #info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  background: #e2e2e2;
  padding: 15px; }
  #contact #info:last-child {
    margin-right: 0; }

#contact label {
  background-color: #d6cac7;
  border: 3px solid #d2c4c1;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.75em;
  font-style: italic;
  letter-spacing: 2pt;
  padding: 7px 10px;
  text-transform: uppercase; }

#contact input[type="text"], #contact input[type="email"], #contact textarea {
  width: 100%;
  border: 2px solid #e3e3e3;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875em;
  margin-bottom: 20px;
  padding: 7px 10px; }

#contact textarea {
  height: 200px; }

#contact #map {
  width: 100%;
  height: 400px;
  background-color: #CCC; }

.modal .modal-fade-screen {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999; }
  @media screen and (min-width: 45em) {
    .modal .modal-fade-screen {
      padding-top: 10em; } }

.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer; }
  .modal .modal-close:after, .modal .modal-close:before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.5em;
    width: 0.15em;
    background: #ddd;
    content: '';
    display: block;
    margin: -3px 0 0 -1px; }
  .modal .modal-close:hover:after, .modal .modal-close:hover:before {
    background: #c4c4c4; }
  .modal .modal-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  width: 95%; }
  @media screen and (max-width: 30em) {
    .modal .modal-inner {
      max-height: 70%;
      padding: 3em;
      width: 60%; } }
  @media screen and (min-width: 65.625em) {
    .modal .modal-inner {
      width: 50%; } }

footer {
  margin-top: 20px;
  padding-bottom: 20px; }
